* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;

}
.cabeca {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: rgb(187, 184, 184) solid 1px;
    background-color: rgb(245, 243, 243);
}

#logo-busca {
    display: flex;
}
.cabeca nav li {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
}
.cabeca nav li a {
    color: #8b8a8a;
    text-decoration: none;
    font-size: 17px;
}
.cabeca nav li a:hover {
    color: rgb(216, 43, 43);
    border-bottom: red solid 2px;
}
.busca {
    background-repeat: no-repeat;
    border: none;
    width: 300px;
    border-bottom: 1.5px solid black;
    padding: 5px;
}
.titulo {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #5c5b5b;
}
.consoles {
    margin: 0 auto;
    padding-left: 200px;
    color: #5c5b5b;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: justify;
}
.consoles img {
    width: 500px;
    display: flex;
}
h3 {
    padding-bottom: 20px;
}
.consoles p {
    padding-bottom: 40px;
}
.rodape {
    background-color: rgb(230, 8, 8);
    margin-top: 200px;
    text-align: center;
}
.rodape-logo {
    padding-left: 100px;
}
.rodape-txt {
    text-decoration: none;
    font-size: 13px;
}
